body {
    background-color: #42414d;
    color: #ffffff;
    font-family: Arial, sans-serif;
    width: 200px;
}

hr {
    border: none;
    height: 1px;
    background-color: #ffffff;
}

.form-input {
    float: right;
}

.form-box-input {
    height: 0.9em;
    width: 4em;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    width: 2em;
    height: 1em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    left: 0px;
    bottom: 0px;
    background-color: white;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(1em);
    -ms-transform: translateX(1em);
    transform: translateX(1em);
}

/* Rounded sliders */
.slider.round {
    border-radius: 1em;
}

.slider.round:before {
    border-radius: 50%;
}

#ecashList_toggle {
    float: right;
}

#ecashList_toggle:hover {
    cursor: pointer;
    background-color: #84838a;
}

#ecashContainer {
    display: none;
    max-height: 75px;
    overflow-y: auto;
    margin-top: 3px;
}

#ecashList {
    list-style: none;
    padding: 0;
    margin: 0;
}

#ecashList li {
    cursor: pointer;
    padding: 1px;
    margin-bottom: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#ecashList li:hover {
    background-color: #31313a; /* Set the desired highlight color */
}

.removeButton {
    position: relative;
    top: 0;
    right: 0;
    /* background-color: #ff0000; */
    color: #ff0000;
    cursor: pointer;
    display: none;
    padding: 3px;
  }

#ecashList li:hover .removeButton {
    display: inline;
}

.removeButton:hover {
    background-color: #84838a;
}

#reset {
    float: right;
    text-decoration: underline;
    cursor: pointer;
}

#pid {
    display: inline-block;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

#limit {
    float: right;
    width: 30px;
    font-size: 12px;
    padding: 0;
}